/* 1 */

.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}


/* 2 */

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}


/* 3 */

.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 100%;
}


/* 4 */

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}


/* 5 */

.ex-5-square {
    transition: 3s;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}


/* 6 */

.ex-6-img {
    transition: 3s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}


/* 7 */

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(1) saturate(50%);
}


/* 8 */

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(1) saturate(50%);
    border-radius: 50%;
}


/* 9 */

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: grayscale(1) saturate(50%);
    border-radius: 50%;
    transform: scale(1.5);
}


/* 10 */

.ex-10-icon {
    animation: orologio 3s infinite;
}

@keyframes orologio {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 11 */

.ex-11-icon:hover {
    animation: orologio-2 3s infinite;
}

@keyframes orologio-2 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* 12 */

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-btn 3s linear;
}

@keyframes bottom-btn {
    0% {
        right: 20%;
    }
    75% {
        right: 60%;
    }
    100% {
        right: 20%;
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: top-btn 3s linear;
}

@keyframes top-btn {
    0% {
        left: 10%;
    }
    75% {
        left: 60%;
    }
    100% {
        left: 10%;
    }
}


/* 13 */

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-btn-2 3s linear infinite;
}

@keyframes bottom-btn-2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 30px);
        bottom: calc(100% - 10px);
    }
    75% {
        right: -30px;
        bottom: calc(100% - 10px);
    }
    90% {
        right: -30px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: top-btn-2 3s linear infinite;
}

@keyframes top-btn-2 {
    0% {
        left: -10px;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: calc(100% - 10px);
    }
    75% {
        left: -30px;
        top: calc(100% - 10px);
    }
    90% {
        left: -30px;
        top: -10px;
    }
    100% {
        left: -10px;
        top: -10px;
    }
}